<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gentlehealthcare.mobilecare"
    android:versionCode="1"
    android:versionName="2.0.4">

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="20" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".NurseApp"
        android:allowBackup="true"
        android:configChanges="orientation|keyboard"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.login.WelcomeAct"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 霍尼韦尔扫描 研华无需注册 -->
        <receiver android:name=".activity.CameraDevicerReceiver">
            <intent-filter>
                <action android:name="com.honeywell.decode.intent.action.EDIT_DATA" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.login.CopyRightAct"
            android:label="版权"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.login.LoginAct"
            android:label="用户登录"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.home.HomeAct"
            android:label="主界面"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.patient.DeptPatientAct"
            android:label="科室病人"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.work.WorkAct"
            android:label="工作界面"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.patient.PatientAct"
            android:label="病人信息"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.home.SystemAttentionAct"
            android:label="注意事项"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.patient.medicine.FlowAct"
            android:label="给药流程"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.patient.medicine.HelpAct"
            android:label="帮助界面"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".activity.patient.trans.TransfusionActivity"
            android:label="输血界面"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.login.ChooseGroupAct"
            android:label="选择分组"
            android:screenOrientation="portrait"
            android:theme="@style/myDialogTheme" />
        <activity
            android:name=".activity.home.ThreeTestActivity"
            android:label="体温"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".activity.home.DoctorOrdersAct"
            android:label="医嘱执行"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name=".activity.patient.insulin.InsulinFlowAct"
            android:label="胰岛素流程"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />

        <!-- 扫描服务 -->
        <service android:name=".activity.CamerService" />
        <!-- 获取巡视服务 -->
        <service android:name=".service.TipService" />
        <!-- 友盟相关 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5785d77c67e58ebd1e0001e4">

            <!-- 洛阳 562eea5267e58eb9c5000305 -->
            <!-- 血研所 5785d77c67e58ebd1e0001e4 -->
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Wandoujia" />

        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService" />

        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 友盟end -->
        <activity
            android:name=".activity.home.OrdersActivity"
            android:label="医嘱查询科室"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name=".activity.home.PIOActivity"
            android:label="PIO主界面 科室病人"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name=".activity.home.PioShowActivity"
            android:label="@string/title_activity_pio"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name=".activity.home.ModifyPioRecActivity"
            android:label="增加pio记录"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name=".activity.home.PioRecordsActivity"
            android:label="PIO记录"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name=".activity.home.AddPioRecActivity"
            android:label="增加pio记录"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name=".activity.home.RecordPioAppraisalAct"
            android:label=" PIO评价"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name=".activity.home.PatientWorkAct"
            android:label="病人工作列表"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />
        <!-- ICU正面 -->
        <activity
            android:name=".activity.home.ICUAActivity"
            android:label="@string/title_activity_icu"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".activity.notification.Notification2Activity"
            android:excludeFromRecents="true"
            android:label="提示信息界面"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity="" />
        <activity
            android:name=".activity.home.ICUBActivity"
            android:label="ICU反面"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.bloodsugar.BloodSugarActivity"
            android:label="血糖测试"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.notification.StatusScanningAct"
            android:label="通知过后身份扫描"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.notification.BloodTransfusionEndAct"
            android:label="通知输血结束"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.notification.BloodTransfusionPatrolAct"
            android:label="通知输血巡视"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.notification.IntravenouslyEndAct"
            android:label="通知静脉给药结束"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.notification.IntravenouslyPatrolAct"
            android:label=" 通知静脉给药巡视"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.patient.trans.TransfusionExcutedAct"
            android:label="已完成输血列表"
            android:screenOrientation="portrait" />
        <activity
            android:name=".intravenousnew.IntravOrdersListAct"
            android:label="静脉给药列表"
            android:screenOrientation="portrait" />
        <activity
            android:name=".intravenousnew.IntravPatrolAct"
            android:label="静脉给药巡视"
            android:screenOrientation="portrait" />
        <activity
            android:name=".intravenousnew.IntravExecuteAct"
            android:label="静脉给药执行"
            android:screenOrientation="portrait" />
        <activity
            android:name=".intravenousnew.IntravIdentityCheckAct"
            android:label=" 静脉给药身份确认"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ErrorAct"
            android:label="系统错误处理"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.orders.DocOrdersActivity"
            android:label="医嘱执行"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.implementation.ImplementationRecordAct"
            android:label="医嘱执行详情"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.orders.OrdersCheckActivity"
            android:label="医嘱执行核对"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.insulin.InsulinActivity"
            android:label="医嘱执行详情"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.intravenous.IntravenousAct"
            android:label="静脉给药"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.cancelexecution.CancelExecutionAct"
            android:label="取消执行"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.msg.MsgAct"
            android:label="消息提醒处理"
            android:screenOrientation="portrait"
            android:theme="@style/msganim" />
        <activity
            android:name=".activity.bloodbagnuclearcharge.BloodBagNuclearChargeAct"
            android:label=" 血品核收"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gentlehealthcare.mobilecare.activity.PatrolAct"
            android:label="护理巡视"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PatrolHistoryAct"
            android:label="护理巡视历史"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TemperatureAct"
            android:label="体温单录入"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!--分级护理评估-->
        <activity
            android:name=".activity.gradedcareevaluation.GradedCareEvaluationAct"
            android:label="分级护理"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.gradedcareevaluation.GradCareMeasureAct"
            android:label="分级护理评估"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.gradedcareevaluation.NursingMeasuresAct"
            android:label="分级护理评估措施"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.gradedcareevaluation.NursingMeasuresDetailsAct"
            android:label="分级护理评估详情"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.evaluation.EvaluationGradedCareEvaluationAct"
            android:label="压疮护理"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.evaluation.EvaluationGradCareMeasureAct"
            android:label="压疮护理评估"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.evaluation.EvaluationNursingMeasuresAct"
            android:label="压疮护理评估措施"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.evaluation.EvaluationNursingMeasuresDetailsAct"
            android:label="压疮护理评估详情"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.evaluation.EvaluationNursingMeasuresSecondDetailsAct"
            android:label="压疮护理评估详情"
            android:screenOrientation="portrait" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
    </application>

</manifest>
